$highlight: #32C5FF;
$background: #17101D;
$backgroundLight: #241A35;
$white: white;
$heroAlt: #eee;
$medGray: #333;
$pop100: #3adb76;
$pop75: #ffae00;
$pop50: #FF6600;

$mainFontFam: "Helvetica Neue", "Helvetica", sans-serif;
$secondFontFam: "Times", serif;
