.hero__name *{
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: -4px;
  font-family: $secondFontFam;
  @include breakpoint(medium up){
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: -3px;
  }
}

.hero__scroll *{
  font-weight: 200;
  letter-spacing: -.5px;
}

.hero__name em{
  color: $highlight;
  font-style: normal;
}

.hero__highlights{
  margin: 0;
  padding: 0;
  @include breakpoint(medium down){
    margin-top: 2rem;
  }
  li{
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -1px;
    @include breakpoint(medium up){
      font-size: 3rem;
      line-height: 3.2rem;
      font-weight: 800;
      letter-spacing: -2px;
    }
  }
}
