.mainHeader{
  position: fixed;
  top:0;
  width: 100%;
  left:0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 888;
  backdrop-filter: blur(10px);
  background-color: rgba($background, .5);
  @include breakpoint(medium up){
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
  &.inverted{
    background-color: rgba($white, 0);
    .brand-lead{
      .brand-std-fill{
        fill: #333;
      }
    }
    .mainNav{
      a{
        color: $medGray;
      }
      li::after,
      li:hover::after{
        border-color: $highlight;
      }
    }
  }
}
