.mainHeader{
  position: fixed;
  top:0;
  width: 100%;
  left:0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 222;
  backdrop-filter: blur(10px);
  background: rgba(#17101D, .5);
  @include breakpoint(medium up){
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
}
