.mainHeader{
  position: fixed;
  top:0;
  width: 100%;
  left:0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include breakpoint(large up){
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
  z-index: 222;
  backdrop-filter: blur(10px);
}
