html, body{
  background: $background;
  color: $white;
  font-family: $mainFontFam;
}

a{
  color: $white;
  transition-duration: .2s;
  transition-property: color;
  &:visited{
    color: $white;
  }
  &:active{
    color: $white;
  }
  &:hover{
    color: $highlight;
  }
}

footer{
  .columns + .columns{
    @include breakpoint(medium down){
      margin-top: 4rem;
    }
  }
}
