html, body{
  background: #17101D;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h2 strong{
  font-weight: 800;
  color: $iceBlue;
  letter-spacing: -2px;
}

a{
  color: white;
  transition-duration: .2s;
  transition-property: color;
  &:visited{
    color: white;
  }
  &:active{
    color: white;
  }
  &:hover{
    color: $iceBlue;
  }
}
