.site-wrapper{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left:0;
  right:0;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient($background, $backgroundLight);
}

.internal-wrapper-clone{
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
}
